/*UNIVERSAL STYLING*/




*{box-sizing: border-box;}

html{
  font-size: 100%;
  font: 100% 'Open Sans', sans-serif;







  /*NAV STYLING*/







}
ul.topnav {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    /*justify-content: space-between;*/
    align-items: center;
    /*width: 100%;*/


}

/*ul.topnav li {float: left;}*/

.topnav a {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color:#474545 ;
    text-align: center;
    padding: .875rem 1rem;
    width: 100%;
}
.topnav a:-webkit-any-link {
  text-decoration: none;
}

/*ul.topnav li a:hover:not(.active) {background-color: #111;}*/

ul.topnav li a.active {
  color:white;
  background-color: #F51E95;
}

/*ul.topnav li.right{
  display: block;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}*/

@media screen and (max-width: 50rem){
    ul.topnav li {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      flex-direction: column;
      padding: 0;
      width: 100%;
      height: auto;
    }
    .main-link{
      flex:1;
    }
}

.icons-top-nav {
  display: flex;
  flex-direction: row;

}




/*BODY STYLING*/





body{
  background-color: white;
  color:#575454;
  font-weight: 400;
  margin: 2rem;
  padding: .007rem;
}
h1{
  color:#F51E95;
  font: 400% 'Times New Roman', serif;
}
@media screen and (min-width:50rem){
.logo{
display: none;
}
}
@media screen and (max-width:50rem){
h1{
  text-align: center;
}
}

h2, h3, h4, h5, h6{
  color: #474545;
  font: 200% 'Raleway', sans-serif;
  font-weight: 550;
}

img{
  width:100%;
  height:auto;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  padding: 2rem 0 2rem 0;
  color:#F51E95;
}

footer a:-webkit-any-link{
  text-decoration: none;
  color: #F51E95;
}

/*ABOUT ME STYLING*/

.who-i-am-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.about-me-photo{
  display: block;
  flex-grow: <1>;
  flex-shrink: <1>;
  flex-basis: auto;
  margin:auto;
  padding-top: 2rem;
  width: 50%;
  height: 50%;
}

@media screen and (max-width:50rem) {
  .about-me-photo{
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    align-content: center;
    margin: auto;
    width: 100%;
    height: 100%;

  }
}

.who-i-am-text{
  display:block;
  flex-grow: <1>;
  flex-shrink: <1>;
  flex-basis: auto;
  align-self: center;
  margin: auto;
  padding-left: 2rem;
  width: 50%;
  height:50%;

}

@media screen and (max-width:50rem) {
  div .who-i-am-text{
    flex-direction: column;
    flex-wrap: wrap;
    align-self:flex-start;
    align-content: flex-start;
    margin: auto;
    padding: 0rem;
    width: 100%;
    height: auto;

  }

}

.professional-experience{
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  align-self: flex-start;

}

.positions-list li{
  line-height: 2.5;
}

.positions-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.positions-list{
  display: block;
  flex-wrap: wrap;
  flex-basis: auto;
  align-self:flex-start;
  align-content: space-between;
  margin: auto;
  width: 100%;
  height: 100%;
}

.hustle-wrapper{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-content: center;
}

.hustle-photo{
  display: block;
  flex-basis: auto;
  align-self: center;
  margin: auto;
  padding-top: 2rem;
  width: 100%;
  height: auto;
}


/*PUBLISHED CONTENT STYLING*/





.article-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.article-title{
  font-weight: bold;
  color:#474545;



}
.editorial-info{
  color: #757272;
}
.article-box{
  display:block;
  flex-grow: <1>;
  flex-shrink: <1>;
  flex-basis: auto;
  margin: auto;
  width:20rem;
  height:25rem;
}





/*CONTACT ME PAGE STYLING*/


/*#contact{
  text-align: center;
}

#contact-form{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

input {
    width: 100%;
    font-family: "Open Sans", sans-serif;

}

input[type=text]:focus {
    border: 1px solid #363739;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F51E95;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;*/
